
{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>School Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

{% block body %}

<body>


<div class="container">
  <h2>Registered Courses List</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Second Name</th>
        <th scope="col">Course Name</th>
        <th scope="col">Course Code</th>
        <th scope="col">Email</th>
        <th scope="col">Image</th>
       
      </tr>
    </thead>
 
    <tbody>
      {% for trainer in trainer_list%} 

      <tr>

        <td>{{trainer.first_name}}</td>
        <td>{{trainer.last_name}}</td>
     
        <td>{{trainer.course_name}}</td>
    
        <td>{{trainer.course}}</td>
       
        <td>{{trainer.email}}</td>
       
       <td><img  src="{{ trainer.image.url }}"width="100" height="100"/></td>
     

        <td><a href ="{{trainer.id}}/delete"><button type="submit" class="save btn btn-danger">Delete</button></td></a>
        <td><a href ="{{trainer.id}}/edit"><button type="submit" class="save btn btn-success">Edit</button></td></a>
        <td><a href ="{{trainer.id}}/view"><button type="submit" class="save btn btn-info">Profile</button></td></a>


      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

</body>

<style>
  h2{
    text-align: center;
  }
</style>
</html>
{%endblock body%}