<div class="main">
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        Are you want to delete {{trainer.first_name}} ?
        <input type="submit" value="Yes" />
        <a href="/">Cancel </a>
        
    </form>
    <style>
        .main{
            font-size: medium;
            font-family: Verdana, Arial, Helvetica, sans-serif;

            text-align: center;
        }

       input{
           background-color:limegreen
       }
    </style>
</div>